.cart{
    tbody{
       td{
          vertical-align: middle;
       }
    }
    .cartImg{
       text-align: center;
       img{
          display: block;
          margin: 0 auto 10px auto;
       }
    }
    .remove{
       max-width: 25px;
       &:hover{
          cursor: pointer;
       }
    }
    .loading{
       margin-top: 1em;
       max-width: 70px;
       height: unset;
    }
}
.thumbnail img{
    display: inline;
    max-width: 50px;
    padding: 5px;
    &:hover{
      cursor: pointer;
    }
}
.imgZoom {
  .amitBtn{
    width: 100%;
    margin-top: 2em;
    background: $primary;
    padding: 10px 0;
  }
  div{
    z-index: 1000;
  }
  .changeQty{
    margin-top: 1em;
    label{
      text-align: center;
    }
    ul{
      justify-content: center;
    }
  }
}
.changeQty{
  // display: flex;
  // align-items: center;
  // justify-content: space-between;
  label{ 
    text-align: left;
  }
  ul{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    li{
      border: 2px solid #c5c5c5;
      height: 45px;
      width: 45px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 700;
      transition: .5s all;
      &:hover{
        border: 2px solid $primary;
        color: $primary;
        cursor: pointer;
      }
    }
    :nth-child(2){
      border-right: none;
      border-left: none;
      &:hover{
        border: 2px solid $primary;
        color: $primary;
      }
    }
  }
}
.star-rating{
    margin: 10px 0;
    text-align: left;
    img{
        max-width: 20px;
        padding: 2px;
    }
    .rating {
        overflow: hidden;
        display: inline-block;
    }
    .rating-input {
        float: right;
        width: 16px;
        height: 16px;
        padding: 0;
        margin: 0 5px 0 -20px;
        opacity: 0;
        z-index: 1000;
    }
    .rating:hover .rating-star:hover, .rating:hover .rating-star:hover ~ .rating-star, .rating-input:checked ~ .rating-star {
        background-position: 0 0;
    }
    .rating-star, .rating:hover .rating-star {
        position: relative;
        display: block;
        float: right;
        width: 16px;
        height: 16px;
        background: url(/images/icons/star.png) 0 -16px;
        margin-right: 5px;
    }
}
form{
    .rating{
        display: flex !important;
    }
}
.imgBox{
    position: relative;
    .itemAdded{
       position: absolute;
       bottom: 10%;
       width: 100%;
       p{
          color: #fff;
          text-shadow: 1px 1px black;
          text-align: center;
       }
    }
    .cartBtnGroup{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(#000000a8, #ffffff0d);
     }
     .plusMinus{
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-evenly;
        img{
           max-width: 30px;
           &:hover{
              cursor: pointer;
           }
        }
    }
}
.products>div:hover .cartBtnGroup, .box .swiper-slide:hover .cartBtnGroup{
    opacity: 1;
    bottom: 0;
}
.singleProduct{
    .cartBtnGroup{
        img{
            max-width: 30px;
            &:hover{
                cursor: pointer;
            }
        }
    }
    .plusMinus{
        text-align:start;
        display: flex;
    }
    .price{
      font-size: 2em;
      color: $primary;
    }
    input.form-control{
      margin-bottom: 10px;
    }
}
.inclusions{
    ul{
        li{
            padding: 10px 0;
        }
    }
}
.sideProducts {
    img{
        max-width: 60px
    }
    >div{
        a{
            display: flex;
            align-items: center;
            justify-content: space-between;
            p{
                margin: 0;
                text-align: left;
            }
            .price{
              font-size: 14px;
              color: $primary;
              font-weight: 600;
            }
        }
    }
}
.tab-content{
    >.tab-pane {
        display: none;
    }
    >.active {
        display: block;
    }
}
.reviewsDesc{
    ul{
        display: flex;
        li{
            display: inline-block;
            width: 100%;
            text-align: center;
            a{
                background: $primary;
                color: #fff;
                display: block;
                padding: 10px;
            }
            .active{
              background: $primary;  
            }
        }
        li:not(:last-child){
          border-right: 2px solid #fff;
        }
    }
    .tab-pane{
        padding: 1em 2em;
        margin-bottom: 2em;
        border: 1px solid #eee;
        .heading{
            margin: 5px 0;
        }
    }
    .cke_top {
      display: none;
    }
}
.extraProducts h2{
  font-size: 15px;
  color: $primary;
}
.doubtShield{
  background-color: $greyBg;
  padding: 2em 0;
  div:first-child{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2em;
    h3{
      letter-spacing: 5px;
    }
    .amitBtn{
      background: $primary;
    }
  }
  div:nth-child(2){
    display: flex;
    align-items: center;
    justify-content: flex-start;
    img{
      max-width: 30px;
      margin-right: 1em;
    }
  }
}
.cartLoop{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 1em;
  .previewImg {
    max-width: unset;
    max-height: 150px;
    width: auto;
  }
  >div{
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    .price{
      color: $primary;
      font-weight: 600;
      letter-spacing: 2px;
    }
    .changeQty{
      min-width: 400px;
    }
  }
}
.cartSummary{
  li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1em;
    div{
      p{
        margin: 0;
        line-height: 1.5em;
      }
    }
  }
  .total{
    display: flex;
    align-items: center;
    justify-content: space-between;
    p{
      color: $primary;
      font-weight: 600;
    }
  }
  hr{
    margin-bottom: .5em;
  }
}
.userOrders{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #e1672e;
  margin-bottom: 2em;
    .previewImg{
      min-width: 80px;
      margin-right: 1em;
    }
    .remarks{
      margin-left: 1em;
      width: 400px;
      p{
        text-align: center;
      }
    }
    .prod{
      display: flex;
      align-items: center;
      a{
        width: 100px;
      }
    }
}
.orderList{
  width: 100%;
  >div{
    display: flex;
    align-items: center;
    padding-bottom: 10px;
  }
  >p{
    color: $primary;
    font-weight: 600;
  }
}
@media (max-width:767px) {
  .inclusions{
    ul{
        li{
            padding: 0;
        }
    }
}
  .cartList{
    margin-bottom: 1em;
  }
  .cartLoop{
    .changeQty ul li{
      height: 30px;
      width: 30px;
    }
    >div{
      justify-content: space-between;
      .changeQty{
        min-width: unset;
      }
    }
    .previewImg {
      max-height: 120px;
    }
  }
  .cart .remove {
    max-width: 18px;
  }
  .userOrders{
    display: block;
    .prod{
      p{
        margin: 0;
      }
    }
    .previewImg{
      width: 60px;
    }
    .remarks{
      width: unset;
    }
  }
  .orderList {
    > div{
      display: block;
    }
  }
}