@import '_bootstrap.scss';
@import '_swiper';
@import '_admin';
@import '_semantic';
@import '_blog';
@import '_store';
// @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&family=Yusei+Magic&display=swap');
@font-face {
   font-family: 'XXII ARABIAN-ONENIGHTSTAND Bold';
   font-style: normal;
   font-weight: normal;
   src: local('../fonts/XXII ARABIAN-ONENIGHTSTAND Bold'), url('../fonts/XXII ARABIAN-ONENIGHTSTAND.woff') format('woff');
   display: swap;
}
@font-face {
	font-family: 'fontscorecomttwcenmt';
	src: url('../fonts/fontscorecomttwcenmt.eot');
	src: local('../fonts/fontscorecomttwcenmt'), url('../fonts/fontscorecomttwcenmt.woff') format('woff'), url('../fonts/fontscorecomttwcenmt.ttf') format('truetype');
   display: swap;
}
body, .form-control{
   // -webkit-user-select: none;
   // -webkit-touch-callout: none;
   // -moz-user-select: none;
   // -ms-user-select: none;
   // user-select: none;
   font-family: 'fontscorecomttwcenmt';
}
h1, h2, h3, h4, h5, h6{
   font-family: 'fontscorecomttwcenmt';
   line-height: 2em;
}
.hindi{
   font-family:'XXII ARABIAN-ONENIGHTSTAND Bold';
   font-weight:normal;
}
.logout:hover, .dropdown-item:hover, .closeModal:hover, .editIcon:hover{
   cursor: pointer;
}
.amitBtn{
   color: #fff;
   background: $action;
   display: inline-block;
   font-weight: 400;
   border: none;
   text-align: center;
   vertical-align: middle;
   user-select: none;
   padding: 0.375rem 0.75rem;
   font-size: 1rem;
   line-height: 2;
   border-radius: 0.25rem;
   min-width: 150px;
   transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.heading{
   text-align: center;
   margin: 2em 0 1em 0;
   font-size: 2em;
}
.header-social{
   display: inline-flex;
   img{
      max-width: 25px;
      padding-right: 10px;
   }
   a{
      color: #fff;
   }
}
.search-container{
   display: flex;
   >div{
      min-width: 300px;
      margin-right: 1em;
   }
   // display: flex;
   input{
      padding: 5px;
      height: 30px;
      border: 2px solid $primary;
      border-radius: 3px 0 0 3px;
      font-size: 14px;
      width: 100%;
   }
   svg{
      display: none;
   }
}
.cartIcon{
   display: flex;
   height: 100%;
   position: relative;
   padding-right: 5px;
   img{
      max-width: 45px;
   }
   >span{
      position: absolute;
    top: 5px;
    right: 0;
    color: #e16830;
    font-weight: 600;
   }
}
footer{
   h3{
      color: #fff;
      font-size: 2.5em;
      letter-spacing: 2px;
      margin-bottom: 1.5em;
   }
   .col-sm-6:first-child{
      background: $lightBg;
      padding: 4em 4em;
      padding-left: 10%;
      li {
         display: flex;
         align-items: center;
         padding: 1em 0;
         span{
            color: #fff;
         }
         img{
            max-width: 30px;
            margin-right: 1em;
         }
      }
   }
   .col-sm-6:nth-child(2){
      background: $mediumBg;
      padding: 4em 4em;
      padding-right: 10%;
      h3{
         text-align: center;
      }
      ul{
         display: flex;
         align-items: center;
         justify-content: center;
         li a img{
            max-width: 20px;
            margin-right: 1em;
         }
      }
      .btn{
         color: #fff;
         border: 2px solid #fff;
         margin: 2em auto;
         min-width: 350px;
         background: transparent;
         padding: 1em;
         transition: 0.5s all;
         display: block;
         &:hover{
            background: $primary;
            border: 2px solid $primary;
            cursor: pointer;
         }
      }
   }
   .akk{
      background: $darkBg;
      text-align: center;
      position: relative;
      p{
         color: #fff;
         padding: 10px 0;
         margin: 0;
         text-align: center;
      }
      .akkLink{
         color: #fff;
         position: absolute;
         right: 2em;
         top: 0;
         a{
            color: $primary;
            transition: 0.5s all;
            &:hover{
               color: #fff;
            }
         }
      }
   }
}
.banner{
   position: relative;
   .caption{
      position: absolute;
      top: 0;
      bottom: 0;
      left: 3em;
      // min-height: 200px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      // .btns{
      //    display: flex;
      //    align-items: center;
      //    justify-content: start;
      // }
      p.hindi{
         color: #fff;
         // background: $purple;
         // text-align: center;
         padding: .5em 0;
         font-size: 2em;
         // width: fit-content;
         border-radius: 5px;
         line-height: 1em;
      }
      .amitBtn {
         max-width: 150px;
         margin: 5px 0;
      }
      p{
         color: #fff;
         font-size: 25px;
         line-height: 1.5em;
         // margin: 10px 0 0;
         margin: 0;
      }
      h1{
         color: #fff;
      }
   }
}
.text-heading{
   background-color: $primary;
   color: #fff;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.text-headingList{
   background-color: $primary;
   color: #fff;
   .tabs{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 1em;
      ul{
         display: flex;
         li{
            padding: 1em;
            border-radius: 5px 5px 0 0;
            color: #fff;
            &:hover{
               cursor: pointer;
            }
         }
         li.active{
            background: #fff;
            color: $primary;
            margin-bottom: 0;
         }
      }
   }

}
.puja{
   .row{
      align-items: center;
   }
}
.product{
   position: relative;
   h4{
      text-align: left;
      margin-bottom: 1em;
      background: #000;
      color: #fff;
      padding: 5px 3em;
      width: fit-content;
      border-radius: 5px;
   }
   p{
      font-size: 16px;
   }
   .usage{
      // position: absolute;
      // top: 20px;
      background: $primary;
      width: 100%;
      color: #fff;
      padding: 5px 0;
      font-size: 13px;
      text-align: center;
      margin: 0;
   }
   .productDetail{
      padding: 10px 5px;
      h3{
         font-size: 14px;
         text-align: center;
      }
      p{
         text-align: center;
      }
      ul{
         display: flex;
         align-items: center;
         justify-content: space-between;
         li{
            width: 100%;
            a{
               color: #000;
               display: block;
               padding: 10px 5px;
            }
            &:hover{
               cursor: pointer;
            }
         }
         li:first-child{
            background-color: $greyBg;
            a{
               color: $primary;
            }
         }
         li:last-child{
            background-color: $primary;
            display: block;
            padding: 10px 5px;
            color: #fff;
         }
      }
      // .rs {
      //    font-size: 12px;
      // }
      .price{
         color: $primary;
      }
      .strike{
         color: #000;
      }
   }
}
.testis{
   // background-color: $primary;
   background: url(/images/static/testis.jpg) no-repeat center;
   padding: 4em 0;
   .container>h2{
      color: #fff;
      margin: 2em 0;
   }
   .swiper-slide{
      min-height: 250px;
   }
   ul{
      display: flex;
      align-items: center;
      background: $greyBg;
      justify-content: space-between;
      padding: 2em;
      li:first-child{
         margin-right: 1em;
         img{
            width: 180px;
            border: 5px solid #fff;
            margin-bottom: 1em;
         }
         h3, p{
            text-align: center;
         }
      }
   }
}
.blogList{
   background: $darkBg;
   padding: 4em 0;
   .row{
      position: relative;
   }
   h2{
      color: $primary;
      margin: 2em 0;
      text-align: center;
   }
   .blogData{
      border: 10px solid $golden;
      position: relative;
      h3{
         color: #fff;
         margin: 2em 0;
         position: absolute;
         top: -4em;
         background: $darkBg;
         padding: 1em 2em;
      }
      ul {
         padding: 4em 2em 0;
         li{
            h4{
               color: #fff;
            }
            p{
               color: #fff;
            }
         }
      }
      .amitBtn{
         margin-left: 2em;
      }
   }
   img{
      position: absolute;
      right: 0;
      top: 0;
      // /* max-height: 400px; */
      width: auto;
      height: 100%;
   }
}
// .articles.text-heading{
//    justify-content: center;
// }
// .articleList{
//    padding: 2em 0;
//    .blogData{
//       display: flex;
//       flex-direction: column;
//       justify-content: space-evenly;
//       align-items: center;
//    }
// }
.my-div{
   text-align: center;
   padding: 1em 0;
}
#callback{
   position: fixed;
   right: 0;
   bottom: 20%;
   z-index: 1000;
   background: $primary;
   padding: 15px 1em;
   border-radius: 5px 0 0 5px;
   text-align: center;
}
.callBack{
   a{
      color: #fff;
      font-size: 16px;
      text-decoration: none;
      text-align: center;
      border-radius: 2px;
      font-weight: 600;
   }
   img{
      max-width: 40px;
      display: block;
      margin: 0 auto .5em;
   }
   .modal{
      position: fixed;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      opacity: 0;
      -webkit-transition: all .4s;
      transition: all .4s;
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
      height: 0;
      overflow: visible;
      z-index: 10000;
      padding: 0;
      .modal-dialog{
         height: 100vh;
         top:  0;
         margin: 0;
         max-height: unset;
         width: unset;
      }
   }
   .show{
      display: block;
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
      height: 100vh;
      width: 100vw;   
      overflow-y: scroll;
   }
   form textarea{
      height: 150px;
   }
   .container{
      width:75%;
   }
   .closeBtn {
      position: absolute;
      top: 1em;
      right: 1em;
      font-weight: 700;
      font-size: 2em;
      color: $primary;
      border: none;
      background: 0 0;
    }
}
.gofb{
   display: flex;
   align-items: center;
   justify-content: space-around;
   margin-top: 2em;
   >button{
      height: 50px;
      margin-right: 10px;
   }
   .kep-login-facebook.metro{
      padding: 7px 10px;
      height: 50px;
      border-radius: 3px;
      font-size: 12px;
   }
}
.links{
   display: flex;
   align-items: center;
   li{
      a{
         color: #fff;
         padding: 5px 10px;
      }
   }
}
.swiper-button-prev:after, .swiper-button-next:after{
   color: $primary;
}
.singleLine{
   overflow: hidden;
   text-overflow: ellipsis;
   -webkit-box-orient: vertical;
   display: -webkit-box;
   -webkit-line-clamp: 1;
}
.cartIconMobile{
   display: none;
}
.auth{
   background: url(/images/static/auth.jpg) no-repeat center;
   background-size: cover;
   img{
      max-width: 300px;
      margin: 0 auto;
   }
   .heading{
      margin: 0;
   }
   .check{
      text-align: center;
      span{
         text-decoration: underline;
         color: $primary;
         &:hover{
            cursor: pointer;
         }
      }
   }
   .authBox{
      background: #fff;
      padding: 40px 48px;
      border-radius: 5px;
      border: 1px solid #d4dbe0;
      .amitBtn{
         width: 100%;
         background: $primary;
      }
   }
}
.response{
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100vh;
   flex-direction: column;
   img{
      margin-bottom: 2em;
   }
}
.strike{
   text-decoration: line-through;
   margin-right: 1.5em;
}
.zodiac{
   .col-sm-4>div{
      position: relative;
      float: left;
      width: 100%;
      margin-bottom: 60px;
      background: #fff;
      border: 1px solid #ccc;
      padding: 10px;
      background-color: #eaeaea;
      border-radius: 5px;
      border-bottom: 5px solid #e5e5e5;
      color: #000;
      transition: .5s all;
      .zodiacImage{
         margin: auto;
         width: 75px;
         height: 75px;
         background-color: #fff;
         border-radius: 153px;
         box-shadow: 0 0 10px #84838380;
         overflow: hidden;
         box-sizing: border-box;
         padding: 10px;
         margin-top: -50px;
         img{
            max-width: 60px;
         }
      }
      h4{
         text-align: center;
         line-height: 1em;
         margin-top: 10px;
      }
      p{
         text-align: center;
         font-size: 13px;
         line-height: 1.5em;
      }
      &:hover {
         background-color: #ff8428;
         transition: .5s;
         border: 1px solid #ff8428;
         border-bottom: 5px solid #e06203;
         box-shadow: 0 0 10px #84838380;
         >.zodiacImage{
            transition: .5s;
            transform: rotate(360deg);
         }
      }
   }
}
.pending{
   ul{
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      li{
         margin-right: 1em;
         background: $action;
         padding: 5px 10px;
         border-radius: 5px;
         color: #fff;
      }
   }
}
.redColor{
   color: Red;
}
.productCategory{
   .col-sm-4{
      a{
         img.logo{
            margin: 0 auto;
         }
         .name h2{
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-box-orient: vertical;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            margin: 10px 0 5px;
            text-align: center;
            font-size: 1em;
            font-weight: 600;
            color: #282828;
        }
      }
   }
}
.swal-overlay{
   background: transparent;
   pointer-events: none;
   .swal-modal{
   position: absolute;
   bottom: 10%;
   right: 0;
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin: 0;
   width: fit-content;
   background: $primary;
   .swal-title{
       margin: 0;
       font-size: 16px;
       font-weight: 400;
       text-align: left;
       padding: 0 2em 0 1em;
       color: #fff;
   }
   .swal-footer{
       margin: 0;
       padding: 0;
       .swal-button-container{
       .swal-button{
           background: $action;
           color: #fff;
           border: 1px solid #fff;
       }
       }
   }
   }
}
.breadcrumb{
   display: flex;
   flex-wrap: wrap;
   li{
      margin-bottom: 1em;
      a{
         color: #000;
         border-bottom: 2px solid $primary;
         margin-right: 1.5em;
         padding: 5px 1em;
      }
   }
   li.active{
      background: $primary;
      color: #fff;
      border-radius: 5px;
      border-bottom: 2px solid $primary;
      margin-right: 1.5em;
      padding: 5px 1em;
      line-height: unset;
   }
}
@media (max-width:1400px) {
   .nav-link {
      padding: 1.5rem 1rem;
   }
}
@media (max-width:1200px) {
   .header-social > div {
      min-width: 350px;
   }
   .nav-link {
      padding: 1.5rem 1rem;
   }
   .testis{
      .container{
         max-width: 98%;
      }
   }
   // .banner{
   //    .caption{
   //       p{
   //          font-size: 20px;
   //       }
   //    }
   // }
}
@media (max-width:1080px) {
   .testis{
      ul{
         display: block;
         li{
            img{
               margin: 1em auto;
            }
         }
      }
   }
   .blogList{
      .blank{
         max-width: 30px;
      }
   }
   .nav-link {
      padding: 1.5rem .5rem;
   }
   .header-social > div {
      min-width: 300px;
   }
}
@media (max-width:991px) {
   .btns {
      justify-content: center;
  }
   .search-container{
      display: unset;
   } 
   .cartIconMobile{
      display: block;
      max-width: 30px;
      display: flex;
      align-items: center;
   }
   .cartIcon{
      img{
         max-width: 35px;
         margin-right: 5px;
      }
   }
   .cartToggle{
      display: flex;
      min-width: 80px;
      align-items: center;
      justify-content: space-between;
   }
   .amitBtn{
      max-width: unset;
      min-width: unset;
      padding: 5px 10px;
      font-size: 13px;
   }
   .banner {
      .caption {
         top: unset;
         bottom: 0;
         display: block;
         left: 0;
         right: 0;
         .btns{
            display: flex;
            align-items: center;
            justify-content: center;
            >p{
               padding: 0.5em;
            }
         }
         p{
            font-size: 18px;
            text-align: center;
         }
         h1{
            font-size: 16px;
            text-align: center;
         }
         // p {
         //    font-size: 16px;
         // }
         p.hindi{
            font-size: 1.5em;
         }
      }
   }
   .puja{
      .col-sm-3{
         margin-top: 2em;
      }
   }
   footer{
      h3{
         font-size: 1.5em;
      }
      .col-sm-6:first-child{
         padding: 2em;
      }
      .col-sm-6:nth-child(2){
         padding: 2em;
         .btn{
            min-width: unset;
         }
      }
      .akk{
         p{
            text-align: left;
            padding-left: 1em;
         }
      }
   }
   .blogList{
      h2{
         margin: 1em 0;
      }
      .blogData{
         text-align: center;
         ul{
            li{
               h4{
                  text-transform: uppercase;
                  letter-spacing: 1px;
                  color: $golden;
                  text-align: center;
               }
               p{
                  text-align: center;
               }
            }
         }
         h3{
            left: 0;
            right: 0;
            max-width: 180px;
            margin: 2em auto;
         }
      } 
   } 
   .testis {
      padding: 1em 0;
      .container{
         .hindi{
            margin: 1em 0 0;
         }
      }
   }
   .product{
      h4{
         width: unset;
         text-align: center;
      }
   }
   .text-headingList{
      .tabs{
         padding-top: 0;
         ul{
            li{
               border-radius: 0;
            }
         }
      }
   }
}
@media (max-width:767px) {
   .banner {
      .caption {
         // top: 5%;
         // bottom: unset;
         top: unset;
         bottom: 0;
         left: 0;
         right: 0;
         text-align: center;
         min-height: unset;
         
         h1{
            max-width: unset;
            color: #fff;
         }
         p {
            text-align: center;
            background-color: transparent;
            margin-bottom: 0;
            color: #fff;
         }
         // p.hindi{
         //    margin: 0 auto;
         // }
         .amitBtn{
            max-width: 150px;
            margin: 1em 0 0;
            font-size: 18px;
         }
      }
   }
   .blogList{
      padding: 2em;
      .blogData{
         ul{
            padding: 2em 0 0;
         }
      } 
      img{
         display: none;
      }
      .nav-link {
         padding: 1rem 1rem;
     }
   }
}
@media (max-width:640px) {
   .links{
      flex-direction: column;
      li{
         a{
            padding: 0;
         }
      }
   }
   .banner {
      .caption {
         h1{
            font-size: 12px;
         }
         // p {
         //    font-size: 14px;
         // }
         p.hindi {
            font-size: 1em;
            text-align: center;
         }
         .amitBtn {
            margin: 5px 0 0;
            font-size: 14px;
         }
      }
   }
   footer{
      .akk{
         p{
            text-align: center;
            padding: 0;
         }
         .akkLink{
            position: relative;
            padding: 0;
         }
      }
      .col-sm-6:first-child li{
         padding: 5px 0;
      }
   }
   .heading {
      font-size: 1.5em;
   }
   .breadcrumb li a{
      padding: 5px .5em;
      margin-right: 0.5em;
   }
}
@media (max-width:440px) {
   .banner {
      .caption {
         h1{
            font-size: 12px;
            margin-bottom: 0;
         }
         // p{
         //    line-height: 1em;
         // }
      }
   }
   .text-heading {
      padding: .5em 0em;
      ul{
         li{
            padding: .5em;
         }
      }
   }
   .blogList {
      padding: .5em;
   }
   .header-social > div {
      min-width: 300px;
   }
   .gofb{
      display: block;
      text-align: center;
      >button{
         margin-bottom: 1em;
      }
   }
}