@import '_bootstrap.scss';
@import '_swiper';
@import '_admin';
@import '_semantic';
@import '_blog';
@import '_store';
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&family=Yusei+Magic&display=swap');
@font-face {
   font-family: 'Samarkan Normal';
   font-style: normal;
   font-weight: normal;
   src: local('Samarkan Normal'), url('SAMARN__.woff') format('woff');
}
@font-face {
   font-family: 'Samarkan Oblique';
   font-style: normal;
   font-weight: normal;
   src: local('Samarkan Oblique'), url('SAMARO__.woff') format('woff');
}

body, .form-control{
   font-family: 'Source Sans Pro', sans-serif;
}
h1, h2, h3, h4, h5, h6{
   font-family: 'Yusei Magic', sans-serif;
   line-height: 2em;
}
.hindi{
   font-family:'Samarkan Normal';font-weight:normal;
}
.logout:hover, .dropdown-item:hover, .closeModal:hover, .editIcon:hover{
   cursor: pointer;
}
.amitBtn{
   color: #fff;
   background: $action;
   display: inline-block;
   font-weight: 400;
   border: none;
   text-align: center;
   vertical-align: middle;
   user-select: none;
   padding: 0.375rem 0.75rem;
   font-size: 1rem;
   line-height: 2;
   border-radius: 0.25rem;
   min-width: 150px;
   transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.heading{
   text-align: center;
   margin: 2em 0 1em 0;
   font-size: 2em;
}
.auth{
   .row{
      align-items: center;
   }
   ul{
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      margin-bottom: 2em;
      li{
         padding: 1em 2em;
         border: 2px solid $primary;
         background-color: transparent;
         border-radius: 5px;
         &:hover{
            cursor: pointer;
         }
      }
      li.active{
         background-color: $primary;
         color: #fff;
      }
   }
}
.header-social{
   display: inline-flex;
   >div{
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      min-width: 450px;
      background: $primary;
      padding: 1em 0;
   }
   img{
      max-width: 25px;
      padding-right: 10px;
   }
   a{
      color: #fff;
   }
}
.cartIcon{
   display: flex;
   align-items: center;
   img{
      max-width: 45px;
   }
}
footer{
   h3{
      color: #fff;
      font-size: 2.5em;
      letter-spacing: 2px;
      margin-bottom: 1.5em;
   }
   .col-sm-6:first-child{
      background: $lightBg;
      padding: 4em 4em;
      padding-left: 10%;
      li {
         display: flex;
         align-items: center;
         padding: 1em 0;
         span{
            color: #fff;
         }
         img{
            max-width: 30px;
            margin-right: 1em;
         }
      }
   }
   .col-sm-6:nth-child(2){
      background: $mediumBg;
      padding: 4em 4em;
      padding-right: 10%;
      h3{
         text-align: center;
      }
      ul{
         display: flex;
         align-items: center;
         justify-content: center;
         li a img{
            max-width: 20px;
            margin-right: 1em;
         }
      }
      .btn{
         color: #fff;
         border: 2px solid #fff;
         margin: 2em auto;
         min-width: 350px;
         background: transparent;
         padding: 1em;
         transition: 0.5s all;
         display: block;
         &:hover{
            background: $primary;
            border: 2px solid $primary;
            cursor: pointer;
         }
      }
   }
   .akk{
      background: $darkBg;
      text-align: center;
      position: relative;
      p{
         color: #fff;
         padding: 10px 0;
         margin: 0;
         text-align: center;
      }
      .akkLink{
         color: #fff;
         position: absolute;
         right: 2em;
         top: 0;
         a{
            color: $primary;
            transition: 0.5s all;
            &:hover{
               color: #fff;
            }
         }
      }
   }
}
.banner{
   position: relative;
   .caption{
      position: absolute;
      top: 40%;
      left: 3em;
      min-height: 200px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      h1{
         margin-bottom: 1em;
      }
      p{
         color: #fff;
         background: $purple;
         text-align: center;
         padding: .5em;
         font-size: 3em;
         border-radius: 5px;
         margin-bottom: 1em;
         line-height: 1em;
      }
      .amitBtn {
         max-width: 150px;
     }
   }
}
.text-heading{
   background-color: $primary;
   color: #fff;
   display: flex;
   align-items: center;
   justify-content: space-between;
   h2{
      padding: 0.5em 0;
   }
}
.text-headingList{
   background-color: $primary;
   color: #fff;
   .tabs{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 1em;
      ul{
         display: flex;
         li{
            padding: 1em;
            border-radius: 5px 5px 0 0;
            &:hover{
               cursor: pointer;
            }
         }
         li.active{
            background: #fff;
            color: $primary;
         }
      }
   }

}
.puja{
   .row{
      align-items: center;
   }
}
.product{
   position: relative;
   text-align: center;
   h4{
      text-align: left;
      margin-bottom: 1em;
      background: #000;
      color: #fff;
      padding: 5px 3em;
      width: fit-content;
      border-radius: 5px;
   }
   p{
      text-align: center;
      font-size: 13px;
   }
   .usage{
      position: absolute;
      top: 20px;
      background: $primary;
      width: 100%;
      color: #fff;
      padding: 5px 0;
      font-size: 13px;
      // transform: skewX(-20deg);
      // left: -6px;
      // &:after{
      //    content: "";
      //    position: absolute;
      //    width: 21px;
      //    height: 100%;
      //    background-color: inherit;
      //    transform: skewX(20deg);
      //    top: 0;
      // }
   }
   .productDetail{
      padding: 10px 5px;
      h3{
         font-size: 14px;
      }
      ul{
         display: flex;
         align-items: center;
         justify-content: space-between;
         li{
            width: 100%;
            a{
               color: #000;
               display: block;
               padding: 10px 5px;
            }
            &:hover{
               cursor: pointer;
            }
         }
         li:first-child{
            background-color: $greyBg;
            a{
               color: $primary;
            }
         }
         li:last-child{
            background-color: $primary;
            display: block;
            padding: 10px 5px;
            color: #fff;
         }
      }
   }
}
.testis{
   // background-color: $primary;
   background: url(/images/static/testis.jpg) no-repeat center;
   padding: 4em 0;
   .container>h2{
      color: #fff;
      margin: 2em 0;
   }
   .swiper-slide{
      min-height: 250px;
   }
   ul{
      display: flex;
      align-items: center;
      background: $greyBg;
      justify-content: space-between;
      padding: 2em;
      li:first-child{
         margin-right: 1em;
         img{
            width: 180px;
            border: 5px solid #fff;
            margin-bottom: 1em;
         }
         h3, p{
            text-align: center;
         }
      }
   }
}
.blogList{
   background: $darkBg;
   padding: 4em 0;
   .row{
      position: relative;
   }
   h2{
      color: $primary;
      margin: 2em 0;
      text-align: center;
   }
   .blogData{
      border: 10px solid $golden;
      position: relative;
      h3{
         color: #fff;
         margin: 2em 0;
         position: absolute;
         top: -4em;
         background: $darkBg;
         padding: 1em 2em;
      }
      ul {
         padding: 4em 2em 0;
         li{
            h4{
               color: #fff;
            }
            p{
               color: #fff;
            }
         }
      }
      .amitBtn{
         margin-left: 2em;
      }
   }
   img{
      position: absolute;
      right: 0;
      top: 0;
      // /* max-height: 400px; */
      width: auto;
      height: 100%;
   }
}
.articles.text-heading{
   justify-content: center;
}
.articleList{
   padding: 2em 0;
   .blogData{
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
   }
}
.my-div{
   text-align: center;
   padding: 1em 0;
}
#callback{
   position: fixed;
   right: 0;
   bottom: 20%;
   z-index: 1000;
   background: $primary;
   padding: 15px 1em;
   border-radius: 5px 0 0 5px;
   text-align: center;
}
.callBack{
   a{
      color: #fff;
      font-family: Arial,sans-serif;
      font-size: 16px;
      text-decoration: none;
      text-align: center;
      border-radius: 2px;
      font-weight: 600;
   }
   img{
      max-width: 40px;
      display: block;
      margin: 0 auto .5em;
   }
   .modal{
      position: fixed;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      opacity: 0;
      -webkit-transition: all .4s;
      transition: all .4s;
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
      height: 0;
      overflow: visible;
      z-index: 10000;
      padding: 0;
      .modal-dialog{
         height: 100vh;
         top:  0;
         margin: 0;
         max-height: unset;
         width: unset;
      }
   }
   .show{
      display: block;
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
      height: 100vh;
      width: 100vw;   
      overflow-y: scroll;
   }
   form textarea{
      height: 150px;
   }
   .container{
      width:75%;
   }
   .closeBtn {
      position: absolute;
      top: 1em;
      right: 1em;
      font-weight: 700;
      font-size: 2em;
      color: $primary;
      border: none;
      background: 0 0;
    }
}
.gofb{
   display: flex;
   align-items: center;
   justify-content: space-around;
   margin-top: 2em;
   >button{
      height: 50px;
   }
   .kep-login-facebook.metro{
      padding: 10px 20px;
      height: 50px;
      border-radius: 3px;
   }
}
@media (max-width:1400px) {
   .nav-link {
      padding: 1.5rem 1rem;
   }
}
@media (max-width:1200px) {
   .header-social > div {
      min-width: 350px;
   }
   .nav-link {
      padding: 1.5rem 1rem;
   }
   .testis{
      .container{
         max-width: 98%;
      }
   }
}
@media (max-width:1080px) {
   .testis{
      ul{
         display: block;
         li{
            img{
               margin: 1em auto;
            }
         }
      }
   }
   .blogList{
      .blank{
         max-width: 30px;
      }
   }
   .nav-link {
      padding: 1.5rem .5rem;
   }
   .header-social > div {
      min-width: 300px;
   }
}
@media (max-width:991px) {   
   .amitBtn{
      max-width: unset;
      min-width: unset;
      padding: 5px 10px;
      font-size: 13px;
   }
   .banner {
      .caption {
         top: 20%;
         display: block;
         h1{
            font-size: 16px;
         }
         p {
            font-size: 1.5em;
         }
      }
   }
   .puja{
      .col-sm-3{
         margin-top: 2em;
      }
   }
   footer{
      h3{
         font-size: 1.5em;
      }
      .col-sm-6:first-child{
         padding: 2em;
      }
      .col-sm-6:nth-child(2){
         padding: 2em;
         .btn{
            min-width: unset;
         }
      }
      .akk{
         p{
            text-align: left;
            padding-left: 1em;
         }
      }
   }
   .blogList{
      h2{
         text-align: left;
      }
   } 
}
@media (max-width:767px) {
   .blogList{
      padding: 2em;
      .blogData{
         ul{
            padding: 2em 0 0;
         }
      } 
      img{
         display: none;
      }
      .nav-link {
         padding: 1rem 1rem;
     }
   }
}
@media (max-width:640px) {
   .banner {
      .caption {
         left: 0.5em;
         h1{
            font-size: 12px;
         }
         p {
            font-size: 1em;
         }
      }
   }
   .text-heading {
      padding: 1em 2em;
   }
   footer{
      .akk{
         p{
            text-align: center;
            padding: 0;
         }
         .akkLink{
            position: relative;
            padding: 0;
         }
      }
   }
   .heading {
      font-size: 1.5em;
  }
}
@media (max-width:440px) {
   .banner {
      .caption {
         left: 0.5em;
         h1{
            font-size: 12px;
            margin-bottom: 0;
            max-width: 120px;
         }
         p {
            color: $purple;
            background-color: transparent;
            text-align: left;
            margin-bottom: 0;
         }
      }
   }
   .text-heading {
      h2{
         font-size: 16px;
      }
      padding: .5em 1em;
      ul{
         li{
            padding: .5em;
         }
      }
   }
   .blogList {
      padding: .5em;
   }
   .header-social > div {
      min-width: 300px;
   }
}